<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <property name="LOG_ROLLING-FILE" value="${LOG_ROLLING-FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}/server.log}" />
    <property name="LOG_ARCHIVE-FILE" value="${LOG_ARCHIVE-FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}/server.log.%d{yyyy-MM-dd}.%i}.gz" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%date{ISO8601} %-5level [%logger{36}] [%thread] %msg%n</Pattern>
        </encoder>
    </appender>

    <appender name="ROLLING-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_ROLLING-FILE}</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%date{ISO8601} %-5level [%logger{36}] [%thread] %msg%n</Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_ARCHIVE-FILE}</fileNamePattern>
            <maxHistory>180</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>1GB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <springProfile name="l2stdout">
        <root level="INFO">
            <appender-ref ref="STDOUT" />
        </root>
    </springProfile>

    <springProfile name="l2file">
        <root level="INFO">
            <appender-ref ref="ROLLING-FILE" />
        </root>
    </springProfile>

</configuration>